@import url(//fonts.googleapis.com/css?family=Lato);

body {
	font-family: 'Lato';
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

#clothing-designer {
	margin: 2rem auto;
}

.api-buttons > a {
	margin: 0 5px 0 0 !important;
	text-decoration: none !important;
}

.price {
	font-size: 25px !important;
	line-height: 26px !important;
}
