@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
	font-family: 'Montserrat', sans-serif;
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

.api-buttons > a {
	margin: 0 5px 0 0 !important;
	text-decoration: none !important;
}

.fpd-topbar .fpd-navigation {
  display: none;
}

/* Utility */
.d-none {
  display: none;
}

select#embroidery-type {
  display: block;
  width: 100%;
  border-width: 1px;
  border-style: solid;
  padding: 8px 5px !important;
  font-size: 12px;
  border-color: rgba(0,0,0,.1)!important;
}

/* Stitchy Actions */

#main-container {
  text-align: center;
}

#clothing-designer {
  display: inline-block;
}

#stitchy-action {
  background-color: ivory;
  width: 500px;
  height: 500px;
  box-sizing: border-box;
  padding: 30px;
  display: inline-block;
  overflow-y: scroll;
  text-align: left;
}

#stitchy-action .navigation div {
  background-color: #34495e;
  color: #fff;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 10px;
  text-transform: lowercase;
}

#stitchy-action .navigation span {
  margin-right: 10px;
}

#stitchy-action input {
  margin-bottom: 10px;
}

#stitchy-action div.publish-product {
  text-align: right;
  overflow: hidden;
  padding: 10px;
}

#stitchy-action span.publish-product {
  text-transform: capitalize;
  font-size: 13px;
  margin-right: 10px;
  text-align: right;
}

#stitchy-action p.price-ss {
  font-weight: 600;
  letter-spacing: 1px;
  font-size: 15px;
  font-family: 'Lato';
  text-align: right;
  color: #c0392b;
}

#stitchy-action .fpd-btn {
  display: block;
  text-align: center;
}

/* Toggle round */

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: block;
  width: 50px;
  height: 24px;
  float: right;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #34495e;
}

input:focus + .slider {
  box-shadow: 0 0 1px #34495e;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

/* cover grid lines */
.fpd-view-stage {
  background-color: #fff;
}

/* Turns the module less blocky */
.fpd-draggable-dialog {
  background: rgba(255,255,255,.9);
  width: 300px;
  height: 300px;
  top: 50px;
  right: 35px;
  left: auto;
}

@media (max-width: 872px) {
  .fpd-draggable-dialog {
    right: 0;
    left: auto;
    width: 150px;
  }
}

body > div.fpd-modal-internal.fpd-modal-overlay {
  display: none !important;
}

.fpd-container input[type=text].required {
  border-color: red !important;
}

.modal {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0,0,0,.4);
  z-index: 9999999;
  justify-content: center;
  align-items: center;
  transition: all .3s ease-in-out;
  display: none;
  opacity: 0;
}

.modal.show {
  display: flex;
  opacity: 1;
}

.close-modal.hide {
  display: none;
  visibility: none;
  opacity: 0;
}

.modal__inner {
  width: 300px;
  height: auto;
  padding: .5rem 2rem;
  text-align: center;
  background-color: #fff;

}

.fpd-snackbar-wrapper {
  display: none;
}

.fpd-btn {
  cursor: pointer;
    color: #fff;
    display: inline-block;
    padding: 5px 15px;
    font-size: 14px;
    line-height: 24px;
    margin: 10px 0;
    text-transform: uppercase;
    border-radius: 2px;
    -webkit-transition: all 200ms ease-out;
    transition: all 200ms ease-out;
    background-color: #00d597;
}

label {
  font-size: .8rem;
}

/* Loader Spinner */

.loader {
  border: 4px solid #fff;
  border-radius: 50%;
  border-top: 4px solid #34495e;
  width: 20px;
  height: 20px;
  display: inline-block;
  vertical-align: middle;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
  display: none;
  float: left;
}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.fpd-overflow-hidden {
  overflow-y: scroll !important;
}